

    <body>
            <div class="center">
                <!-- <img src="contact.jpg" alt="" width="200" height="100" align="right"> -->
                <br><h2 style="color: rgb(9, 5, 17)">Register Form:-</h2>
               
        
            </div>
        </body>
        

<form class="mt-3">
    <label>Name:</label>&nbsp;
    <input type="text" placeholder="Enter Username"/><br/><br/>
    <label>MobileNo:</label>&nbsp;
    <input type="text" placeholder="Enter MobileNo"/><br/><br/>
    <label>EmailId:</label>&nbsp;
    <input type="email" placeholder="Enter EmailId"/><br/><br/>
    <label>Password:</label>&nbsp;
    <input type="password" placeholder="Enter Password"/><br/><br/>
    <label>Branch:</label>&nbsp;
    <input type="text" placeholder="Enter Branch"><br/><br/>
    <label>YOP:</label>&nbsp;
    <input type="text" placeholder="Enter YOP"><br/><br/>

    <button class="btn btn-primary mb-3">Submit</button>
</form>